<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Travel Dada
        </title>
        <!-- Bootstrap stylesheet -->
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <!-- Now add all stylesheets and JS files -->
        