<% include partials/header %>
<link href="/css/landingStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
        <!-- Startup Navbar -->
	<nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#isko-collapse-karo" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Travel Tau</a>
                </div>
    
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="isko-collapse-karo">
                    <!-- <ul class="nav navbar-nav">
                        <li><a href="#">About</a></li>
                    </ul> -->
                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li><a href="#">John Snow<i class="fa fa-user"></i></a></li> -->
                        <li><a href="#">About<i class="fa fa-user-plus"></i></a></li>
                        <li><a href="#">Contact<i class="fa fa-user-plus"></i></a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    
        <!-- The main heading -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="heading-content">
                        <h1>Travel Tau</h1>
                        <h3>Padharo Mhare Desh!</h3>
                        <hr>
                        <button class="btn btn-default btn-lg"><i class="fa fa-scissors" aria-hidden="true"></i>Get Started!</button>
                    </div>
                </div>
            </div>	
        </div>
</div>
   
<% include partials/footer %>